.topRow {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    width: 375px;
    height: 100px;
    font-size: 2rem;
    margin-left: 550px;
    border: 5px solid lightgray;
}

.numbers {
    width: 125px;
    height: 100px;
    border: 5px solid lightgray;
    text-align: center;
    vertical-align: middle;
}

.action {
    width: 125px;
    /* height: 500px; */
    color: white;
    background-color: maroon;
    border: 5px solid lightgray;
    font-size: 2rem;
}

.redButtons {
    width: 125px;
    height: 100px;
    border: 5px solid lightgray;
    text-align: center;
    vertical-align: middle;
}
