.operatorButton {
    height: 100px;
    width: 125px;
    background-color: maroon;
    color: white;
    border: 2px solid lightgray;
    font-size: 2rem;
    border-collapse: collapse;
}

.numberButton {
    width: 125px;
    height: 100px;
    border: 5px solid lightgray;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.actionButton1 {
    width: 375px;
    height: 100px;
    margin-left: 710px;
    font-size: 2rem;
    border-collapse: collapse;
    background-color: white;
    color: black;
    border: 2px solid lightgrey;
}

.actionButton {
    width: 125px;
    height: 100px;
    color: white;
    background-color: maroon;
    border: 2px solid lightgray;
    border-collapse: collapse;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.thirdNums {
    margin-left: 710px;
    margin-bottom: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 1085px;
    margin-top: -390px;
}

.numBox {
    margin-left: 710px;
    margin-top: -20px;
}

.actionButton2 {
    width: 375px;
    height: 100px;
    margin-left: 710px;
    font-size: 2rem;
    font-weight: 200;
    border-collapse: collapse;
    background-color: white;
    color: black;
    border: 2px solid lightgrey;
    margin-top: -1000px;
}
